<app-filtrar-paradas (onFilterApplied)="onFilterApplied($event)"></app-filtrar-paradas> 
 

<app-purrfect-dynamic-table [data]="(listaParadas$ | async) || []">
    <app-purrfect-column-dynamic-table header="Número" field="id"></app-purrfect-column-dynamic-table>
    <app-purrfect-column-dynamic-table header="Nome" field="name"></app-purrfect-column-dynamic-table>
    <app-purrfect-column-dynamic-table header="Latitude" field="latitude"></app-purrfect-column-dynamic-table>
    <app-purrfect-column-dynamic-table header="Longitude" field="longitude"></app-purrfect-column-dynamic-table> 
    <app-purrfect-column-dynamic-table header="Ações"> 
      <ng-template let-item>
        <button class="btn" (click)="edit(item)">
          <i class="fas fa-edit"></i> 
        </button>

        <button class="btn" (click)="delete(item)">
          <i class="fas fa-trash-alt"></i> 
        </button>

        <button class="btn" (click)="view(item)">
          <i class="fas fa-eye"></i> 
        </button> 
      </ng-template>
    </app-purrfect-column-dynamic-table> 
  </app-purrfect-dynamic-table>

<div class="d-flex align-items-center justify-content-between mb-3">
  <span>{{totalItems}} resultados encontrados</span>
  <app-purrfect-pagination
    [totalPages]="totalPages" 
    [currentPage]="currentPage" 
    (pageChanged)="onPageChanged($event)">
  </app-purrfect-pagination>
</div>


  
