<app-filtrar-paradas (onFilterApplied)="onFilterApplied($event)"></app-filtrar-paradas> 

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Número</th> 
      <th>Nome</th> 
      <th>Latitude</th> 
      <th>Longitude</th> 
      <th>Ações</th> 
    </tr>
  </thead>
  <tbody>
    
    <tr *ngIf="listaParadas && listaParadas.length === 0">
      <td colspan="5" class="no-records">Nenhum registro encontrado.</td>
    </tr>
    
    <tr *ngFor="let parada of listaParadas">
      <td>{{ parada.id }}</td>
      <td>{{ parada.name }}</td>
      <td>{{ parada.latitude }}</td>
      <td>{{ parada.longitude }}</td>
      <td>
        <button class="btn btn-warning">Editar</button>
        <button class="btn btn-danger">Excluir</button>
        <button class="btn btn-info">Visualizar</button>
      </td>
    </tr>
  </tbody>
</table>
 
<div class="d-flex align-items-center justify-content-between mb-3">
  <span>{{totalItems}} resultados encontrados</span>
  <app-purrfect-pagination
    [totalPages]="totalPages" 
    [currentPage]="currentPage" 
    (pageChanged)="onPageChanged($event)">
  </app-purrfect-pagination>
</div>


  
