################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/purrfect-olho-vivo-api/FileContentIndex
/obj/Debug/net8.0/purrfect-olho-vivo-api.AssemblyInfoInputs.cache
/obj/Debug/net8.0/purrfect-olho-vivo-api.AssemblyInfo.cs
