<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">home </a></li>
            <li><a href="#">produtos</a></li>
            <li><a href="#"> cantato</a></li>
        </ul>
    </nav>
    <section>
        <h1> Seja bem-vindo ao mini projeto</h1>
        <p> Este projeto tem o intuito de ensianar HTML para quem não sabe nada de HTML!</p>
        <img
         src="https://img.freepik.com/fotos-gratis/desenho-animado-de-jesus-cristo_23-2150972087.jpg"
         alt= " Já vejo o ceu aberto  e Jesus sorrindo"
        />
        
    </section>
    <footer>
        <p>
            Diogo Felipe Ferreira de Lira &copy; 2024
        </p>
    </footer>


</body>
</html>
